.homeNav {
  color: #5f6368;
  margin-bottom: 0.5em;
}
.homeIcon {
  font-size: 3em !important;
  height: 40px !important;
}
.assignmentIcon {
  font-size: 2.7em !important;
  height: 40px !important;
}
.accountIcon {
  font-size: 3em !important;
  height: 40px !important;
}
.requestBadge {
  color: yellow;
}
.accountNav {
  color: #5f6368 !important;
}
.accountBadge {
  color: green;
}
.barNav {
  color: #5f6368 !important;
}
.menuIcon {
  font-size: 2.3em !important;
  height: 40px !important;
}
.projectsIcon {
  font-size: 3em !important;
  height: 40px !important;
}
