.formContainer {
  flex-grow: 1 !important;
  width: 100% !important;
}
.form {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  justify-content: space-around !important;
}
.formHeader {
}
.addressContainer {
  margin: 0.5em 0em !important;
  width: 100% !important;
}
.visibility {
  font-size: 1.3em !important;
}
.addressContainerError {
  margin: 0.8em 0em !important;
  width: 100% !important;
  border: 2px solid red !important;
}
.field {
  padding-top: 0.5em !important;
}
.fieldLabel {
  font-size: 1.7em !important;
}
.fieldLabelError {
  font-size: 1.7em !important;
  color: #ff351e !important;
}
.input {
  font-size: 1.5em !important;
  margin-top: 22px !important;
}
.inputError {
  font-size: 1.3em !important;
  margin-top: 0em !important;
  color: #ff351e !important;
}
.submitButton {
  width: 100% !important;
  background-color: #299e00 !important;
  border: 0 !important;
  height: 2.2em !important;
  font-size: 1.4em !important;
  border-radius: 5px !important;
  color: white !important;
  margin-top: 1em !important;
  margin-bottom: 0.2em !important;
}
.snackbar {
}
.message {
  display: flex !important;
  align-items: center !important;
}
.checkmark {
  margin-right: 0.3em !important;
}
.snackbarContent {
  background-color: #299e00 !important;
  font-size: 1.5em !important;
}
.iconButton {
}
.icon {
  color: white !important;
}
