.container {
  margin-top: 2em !important;
  height: auto !important;
  width: 100% !important;
  background: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.gridItem {
  height: 75% !important;
  display: flex !important;
}
.leftDiv {
  width: 25% !important;
}
.userImageDiv {
  padding-bottom: 2em !important;
  display: flex !important;
}
.imageIcon {
  height: 5em !important;
  width: 5em !important;
  margin-right: 1em !important;
}
.userHeader {
  align-self: flex-end !important;
  margin: 0 !important;
  font-size: 1.7em !important;
}
.contentDiv {
  width: 75% !important;
}
