.Menu {
  padding: 1em 0em !important;
  font-family: Book Antiqua !important;
  width: 100% !important;
  min-height: 4em !important;
  background-color: #06373e !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.homeButton {
  font-family: inherit !important;
  color: white !important;
  font-size: 1em !important;
  padding: 0em !important;
}
.button {
  font-family: inherit !important;
  font-size: 1.5em !important;
  color: white !important;
  padding: 0 0.75em !important;
}
.contactButton {
  font-family: inherit !important;
  border-radius: 0px !important;
  font-size: 1.5em !important;
  background-color: #f17a04 !important;
  color: white !important;
  margin: 0 0.75em !important;
}
.githubButton {
  font-size: 2em !important;
  color: white !important;
}
.linkedInButton {
  font-size: 2em !important;
  color: white !important;
}
.leftMenuDiv {
  display: flex !important;
  align-items: center !important;
}
.centerMenuDiv {
  display: flex !important;
  align-items: center !important;
}
.rightMenuDiv {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}
.linkedinButton {
}
.linkedinIcon {
}
