.menuHomepage,
.menu {
  position: fixed !important;
  top: 0 !important;
  padding: 0.7em 0em !important;
  width: 100% !important;
  min-height: 3em !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.menu {
  background: white !important;
}
.menuHomepage {
  background: none !important;
}
.homeButton,
.greenHomeButton {
  text-transform: none !important;
  color: white !important;
  font-size: 2em !important;
  padding: 0em !important;
  margin-left: 2em !important;
  margin-top: 0.5em !important;
}
.greenHomeButton {
  color: #299e00 !important;
}
.greenHomeButton:hover {
  color: #175a00 !important;
  background-color: white !important;
}
.leftMenuDiv {
  display: flex !important;
  align-items: center !important;
}
.rightMenuDiv {
  margin-right: 10em !important;
  display: flex !important;
  flex-grow: 1 !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin-top: 1em !important;
}
.loginDiv {
  margin-right: 1em !important;
}
.accountButton {
}
.accountIcon {
  color: white !important;
  font-size: 2.5em !important;
}
.menuButtonMower {
  color: white !important;
  background-color: #299e00 !important;
  font-weight: bold !important;
  margin-right: 2em !important;
  padding: 9px 10px !important;
}
.menuButtonMower:hover {
  background-color: #175a00 !important;
}
.menuButton {
  color: white !important;
  font-weight: bold !important;
  margin-right: 2em !important;
  padding: 9px 10px !important;
}
.menuButtonLast {
  color: white !important;
  font-weight: bold !important;
  padding: 9px 10px !important;
}
.menuButtonGray {
  font-weight: bold !important;
  color: #767676 !important;
  margin-right: 2em !important;
  padding: 9px 10px !important;
}
.menuButtonGray:hover {
  color: #2c2c2c !important;
  background-color: white !important;
}
.menuButtonGrayLast {
  font-weight: bold !important;
  color: #767676 !important;
  padding: 9px 10px !important;
}
.menuButtonGrayLast:hover {
  color: #2c2c2c !important;
  background-color: white !important;
}
.menuItem {
  min-width: 10em !important;
  border-bottom: 1px solid #e8e3e0 !important;
  margin: 2px 6px !important;
  font-size: 1.1em !important;
  padding: 14px 20px 14px 20px !important;
  background-color: transparent !important;
  font-weight: bold !important;
  color: #767676 !important;
}
.menuItem:hover {
  border-bottom: 1px solid black !important;
  color: #2c2c2c !important;
}
.buttonMenuItem {
  min-width: 10em !important;
  align-self: center;
  margin: 2px 6px !important;
  margin-top: 10px !important;
  display: flex !important;
  justify-content: center !important;
  background-color: transparent !important;
}
.itemButton {
  width: 100% !important;
  margin: 0 !important;
  font-size: 1em !important;
  background-color: #299e00 !important;
  color: white !important;
}
.itemButton:hover {
  background-color: #175a00 !important;
}
.imageIcon {
  border-radius: 100% !important;
  height: 2.5em !important;
  width: 2.5em !important;
  border: 3px solid white !important;
}
.rightDiv {
  align-items: center !important;
  display: flex !important;
  margin-left: auto !important;
  margin-right: 2em !important;
  margin-top: 1em !important;
}
