.title {
  color: #299e00;
  font-size: 1.5em !important;
}
.text {
}
.button {
  background-color: #299e00 !important;
  color: white !important;
  padding: 4px 24px !important;
  font-size: 1.2em !important;
}
.button:hover {
  background-color: #175a00 !important;
}
