.homepageContainer {
  margin: 0 !important;
}
.headerDiv {
  height: 100% !important;
  width: 100% !important;
  background: url('./grass4.jpg') no-repeat center center fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.textContainer {
  margin-top: -20em !important;
  font-family: Book Antiqua !important;
  width: 90% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.header {
  text-align: center !important;
  font-weight: normal !important;
  color: white !important;
  font-size: 2.5em !important;
}
.content {
  color: white !important;
  font-size: 18px !important;
  line-height: 1.2em !important;
}
.startButton {
  background-color: none !important;
  border-radius: 10px !important;
  border: 2px solid white !important;
  color: white !important;
  font-size: 1.2em !important;
}
