.homepageContainer {
  margin: 0 !important;
}
.headerDiv {
  height: 1000px !important;
  width: 100% !important;
  background-image: url('./home3.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.textContainer {
  font-family: Book Antiqua !important;
  width: 50% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.header {
  font-weight: lighter !important;
  color: white !important;
  font-size: 30px !important;
}
.content {
  color: white !important;
  font-size: 18px !important;
  line-height: 1.2em !important;
}
.startButton {
  background-color: none !important;
  border-radius: 5px !important;
  border: 2px solid white !important;
  color: white !important;
  font-size: 1em !important;
}
