.homepageContainer {
  margin: 0 !important;
}
.headerDiv {
  height: 100% !important;
  width: 100% !important;
  background: url('./grass5.jpg') no-repeat center center fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.textContainer {
  margin-top: -10em !important;
  font-family: Book Antiqua !important;
  width: 90% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.header {
  text-align: center !important;
  font-weight: normal !important;
  color: white !important;
  font-size: 2.2em !important;
}
.content {
  color: white !important;
  font-size: 18px !important;
  line-height: 1.2em !important;
}
.startButton {
  margin-top: 1.5em !important;
  background-color: #299e00 !important;
  border-radius: 5px !important;
  padding: 6px 16px !important;
  color: white !important;
  font-size: 1em !important;
}
.startButton:hover {
  background-color: #175a00 !important;
}
